<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Petition Visualiser</a>
    </div>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" data-bind="value: petitionId" placeholder="Petition ID">
      </div>
      <button type="submit" class="btn btn-default" data-bind="click: LoadPetitionData">Get Peition Data</button>
    </form>
  </div>
</nav>
<!--ko ifnot: loadSuccess-->
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>No Data</h1>
      <hr>
      <p><em>Find the petition ID and enter it in the text area at the top of the page.</em></p>
    </div>
  </div>
</div>
<!--/ko-->
<!--ko if: loadSuccess-->
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1 data-bind="text: petitionAction"></h1>
      <hr>
      <p data-bind="text: petitionBackground"></p>
    </div>
   <div class="jumbotron">
     <h1>Creation Details:</h1>
     <hr>
     <p>Created by <span data-bind="text: petitionCreator"></span> at <span data-bind="text: petitionCreatedOn"></span> and currently has been signed <strong><span data-bind="text: petitionSignatureCount"></span></strong> time(s).</p>
   </div>
   <span>
     <h3><button type="submit" class="btn btn-default" data-bind="click: toggleByConstituencies">Show/Hide</button> Signatures By Constituency:</h3>
     <hr>
   </span>
   <!--ko if: showByConstituency-->
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>MP</th>
          <th>Signature Count</th>
          <th>% of Total</th>
        </tr>
      <!--ko foreach: petitionByConstituency-->
        <tr>
          <td data-bind="text: $data.name"></td>
          <td data-bind="text: $data.mp"></td>
          <td data-bind="text: $data.signature_count"></td>
          <td>
            <span data-bind="text: $parent.getPercentage($data.signature_count)"></span>%
          </td>
        </tr>
      <!--/ko-->
    </table>
   <!--/ko-->

   <span>
     <h3><button type="submit" class="btn btn-default" data-bind="click: toggleByCountries">Show/Hide</button> Signatures By Country:</h3>
     <hr>
   </span>
   <!--ko if: showByCountry-->
      <table class="table table-striped">
        <tr>
          <th>Name (Code)</th>
          <th>Signature Count</th>
          <th>% of Total</th>
        </tr>
        <!--ko foreach: petitionByCountry-->
          <tr>
            <td><span data-bind="text: $data.name"></span> (<span data-bind="text: $data.code"></span>)</td>
            <td data-bind="text: $data.signature_count"></td>
            <td><span data-bind="text: $parent.getPercentage($data.signature_count)"></span>%</td>
          </tr>
        <!--/ko-->
      </table>
   <!--/ko-->
  </div>
</div>
<!--/ko-->
