<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Petition Visualiser</a>
    </div>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" data-bind="value: petitionId" placeholder="Petition ID">
      </div>
      <button type="submit" class="btn btn-default" data-bind="click: LoadPetitionData">Get Petition Data</button>
    </form>
  </div>
</nav>
<div class="container">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- visual-petitions -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4175151362497073"
     data-ad-slot="9500811744"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!--ko ifnot: loadSuccess()-->

  <div class="row">
    <div class="jumbotron">
      <h1>No Data</h1>
      <hr>
      <p><em>Find the petition ID and enter it in the text area at the top of the page.</em></p>
    </div>
  </div>
  <div class="row">
    <p><em>The data shown on this page is directly pulled from public facing files on petition.parliament.uk.</em></p>
  </div>

<!--/ko-->
<!--ko if: loadSuccess()-->

    <div class="row">
      <p>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click: showDetails()">Details</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click: showTables()">Tables</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click: showConstituencyCharts()">Constituency Charts</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-bind="click: showCountryCharts()">Country Charts</button>
          </div>
        </div>
      </p>
    </div>

  <!--ko if: showWhat() === "detail"-->

    <div class="row">
      <div class="jumbotron">
        <h1 data-bind="text: petitionAction"></h1>
        <hr>
        <p data-bind="text: petitionBackground"></p>
      </div>
     <div class="jumbotron">
       <h1>Creation Details:</h1>
       <hr>
       <p>Created by <span data-bind="text: petitionCreator"></span> on <span data-bind="text: petitionCreatedOn"></span> and currently has been signed <strong><span data-bind="text: petitionSignatureCount"></span></strong> time(s).</p>
     </div>
   </div>


  <!--/ko-->
  <!--ko if: showWhat() === "tables"-->

  <div class="row">
    <span>
      <h3><button type="submit" class="btn btn-default" data-bind="click: toggleByConstituencies">Show/Hide</button> Signatures By Constituency:</h3>
      <hr>
    </span>
      <!--ko if: showByConstituency()-->
       <table class="table table-striped">
         <tr>
           <th>Name</th>
           <th>MP</th>
           <th>Signature Count</th>
           <th>% of Total</th>
         </tr>
       <!--ko foreach: petitionByConstituency-->
         <tr>
           <td data-bind="text: $data.name"></td>
           <td data-bind="text: $data.mp"></td>
           <td data-bind="text: $data.signature_count"></td>
           <td>
             <span data-bind="text: $parent.getPercentage($data.signature_count)"></span>%
           </td>
         </tr>
       <!--/ko-->
     </table>
     <!--/ko-->

    <span>
      <h3><button type="submit" class="btn btn-default" data-bind="click: toggleByCountries">Show/Hide</button> Signatures By Country:</h3>
      <hr>
    </span>
      <!--ko if: showByCountry()-->
       <table class="table table-striped">
         <tr>
           <th>Name (Code)</th>
           <th>Signature Count</th>
           <th>% of Total</th>
         </tr>
         <!--ko foreach: petitionByCountry-->
           <tr>
             <td><span data-bind="text: $data.name"></span> (<span data-bind="text: $data.code"></span>)</td>
             <td data-bind="text: $data.signature_count"></td>
             <td><span data-bind="text: $parent.getPercentage($data.signature_count)"></span>%</td>
           </tr>
         <!--/ko-->
       </table>
       <!--/ko-->

       </div>

     <!--/ko-->
     <!--ko if: showWhat() === "constit-charts"-->
      <canvas id="constituencyChartBar" width="100%" height="50"></canvas>
      <canvas id="constituencyChartRadar" width="100%" height="50"></canvas>
      <hr>
      <canvas id="constituencyChartSigBar" width="100%" height="50"></canvas>
      <canvas id="constituencyChartSigRadar" width="100%" height="50"></canvas>
     <!--/ko-->
     <!--ko if: showWhat() === "country-charts"-->
      <canvas id="countryChartBar" width="100%" height="50"></canvas>
      <canvas id="countryChartRadar" width="100%" height="50"></canvas>
      <hr>
      <canvas id="countryChartSigBar" width="100%" height="50"></canvas>
      <canvas id="countryChartSigRadar" width="100%" height="50"></canvas>
     <!--/ko-->
    <div class="row">
      <p><em>The data above has been collected from a public facing file on petition.parliament.uk. This was collected on <span data-bind="text: petitionLastUpdated"></span>.</em></p>
    </div>
<!--/ko-->
</div>
